<launch>
    
    <!-- ENABLE DEPTH REGISTRATION -->
    <!--include filter="$(find openni_launch)/launch/openni.launch"/-->
    <param name="/camera/depth_registration" type="bool" value="true" />

    <!-- THE MODEL FILE TO LOAD -->
    <arg name="model" default="" />
    <param name="model" type="string" value="$(arg model)" />

    <node pkg="PartsBasedDetector" name="$(anon object_recognition_by_parts)" type="object_recognition_by_parts_node">
    </node>

</launch>
